.react-datepicker-wrapper {
    width: 100%;
}

.date-picker--custom-input {
    text-align: start;
    padding: .5rem 1rem;
    line-height: 1.75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: unset;
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
    background-color: rgb(255, 255, 255);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: rgb(224, 90, 29) !important;
    color: #fff; /* Kolor tekstu wybranego dnia */
}